* {
	box-sizing: border-box;
}

body{
	margin-top: 10%;
	text-align: center;
}
	
label{
	font-family: 'Helvetica Neue', Sans-Serif;
	font-size: 1rem;
}

legend{
	font-family: Helvetica, Sans-Serif;
	font-size: 2rem;
}

p{
	font-family: Helvetica, Sans-Serif;
	font-size: 1rem;
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
}

form{
	text-align: center;
	max-width: 50rem;
	margin: auto;
	width: 100%;
}

/*THE LEGEND*/
legend{
	margin-top:-50px;
	padding:30px 20px 30px 20px;	
	margin-left:4%;
	width: auto;
	border: 1px solid #DDD;
	text-align:center;
	background-color: white;
	position: absolute;
}

/*THE CONTENT*/
fieldset{
	padding: 30px;
	height: 380px;
	background-color: #F5F5F5;
	display: inline-block;	
	border: 1px solid #DDD;
}

fieldset > div{
	position: realtive;
}

fieldset>div:first-child{
	display: inline-block;
}

div:nth-child(2){
	margin-top: 60px;
	margin-left: 5%;
	display: inline-block;
}
	
div:nth-child(3){
	margin-top: 40px;
	display: block;
}

div:nth-child(4){
	display: block;
	margin-top: 20px;
}


label {
	margin-bottom: 10px;
	display: block;
	text-align:left;
}

#fullname{
	width: 330px;
	height: 30px;
	border: 1px solid #DDD;
}

#email{
	width: 330px;
	height: 30px;
	border: 1px solid #DDD;
}

textarea{
	height: 60px;
	width: 700px;
	border: 1px solid #DDD;
}

input[type="submit" i]{
	text-align: center;
	color: white;
	background-color: #6495ED;
 	padding: 10px 10px 10px 10px;
 	text-decoration: none;
  	margin-top:5px;
  	margin-bottom: 15px;
  	width: 120px;
  	margin-right: 85%;
  	border: 1px solid #DDD;
}

/*Smart-phone*/
@media screen and (max-device-width:600px) {		
	label,legend{
		font-size: 1rem;
	}

	p{
		font-size: 1rem;
		padding-left: 15%;
		padding-right: 15%;
	} 
	
	input:nth-child(3){
		width: auto;
		height:auto;	
	}
	
	form{					
		max-width:25rem;
		width:100%;	
		margin-left: 40%;
		margin-right: 20%;
		display: block;
	}
	
	legend{
		margin-top:-35px;
		padding:20px 15px;	
		margin-left:2%;
		width: auto;
		text-align:center;
		background-color: white;
		position: absolute;
	}
	
	fieldset>div:first-child{
		display: block;
		margin-top: 50px;
	}
	
	div:nth-child(2){
		margin-top: 20px;
		margin-left: 0px;
		display: block;
	}

	div:nth-child(3){
		margin-top: 20px;
		display: block;
	}
	
	div:nth-child(4){
		display: block;
	}
		
	fieldset{
		padding: 15px;
		width: 100%;	
		height: 480px;
		background-color: #F5F5F5;
		display: inline-block;	
	}
		
	label {
		margin-top: 10px;
		margin-bottom: 8px;
		display: block;
	}
	
	#fullname{
		width: 100%;
		height: 40px;
	}
	
	#email{
		width: 100%;
		height: 40px;
	}
	
	textarea{
		height: 80px;
		width: 100%;
	}

	input[type="submit" i]{
		margin-top: 25px;
		text-align: center;
		color: white;
		background-color: #6495ED;
		padding: 10px 10px 10px 10px;
		text-decoration: none;
		margin-bottom: 25px;
		width: 100%;
}

/*Tablet*/
@media screen and (max-device-width:1200px) {
	form{
		max-width:40rem;	
	}	
}